# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache/
/aclocal.m4
compile

config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

/doc/
/AUTHORS
/COPYING
/INSTALL
/README
/README.ja

src/cspec/
src/mpiunit/
/build/**

.bundle
/vendor/bundle
rank*.xml
.watsonrc
